pkgbase = astrbot-git
	pkgdesc = Agentic IM Chatbot infrastructure (multi-instance, astrbotctl only)
	pkgver = 0.0.0.r1.g43e1070
	pkgrel = 1
	url = https://github.com/AstrBotDevs/AstrBot
	install = astrbot-git.install
	arch = any
	license = AGPL-3.0-only
	makedepends = git
	depends = python
	depends = uv
	depends = git
	depends = certbot
	provides = astrbot
	conflicts = astrbot
	source = astrbotctl
	source = astrbot@.service
	source = config.template
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = astrbot-git
